[intro](https://jupysql.ploomber.io/en/latest/intro.html)
<br>sqlite test.

In [5]:
%load_ext sql

In [6]:
%%sql sqlite://
CREATE TABLE languages (name, rating, change);
INSERT INTO languages VALUES ('Python', 14.44, 2.48);
INSERT INTO languages VALUES ('C', 13.13, 1.50);
INSERT INTO languages VALUES ('Java', 11.59, 0.40);
INSERT INTO languages VALUES ('C++', 10.00, 1.98);

Connecting to 'sqlite://'

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [9]:
%sql SELECT * FROM languages

Running query in 'sqlite://'

+--------+--------+--------+
|  name  | rating | change |
+--------+--------+--------+
| Python | 14.44  |  2.48  |
|   C    | 13.13  |  1.5   |
|  Java  | 11.59  |  0.4   |
|  C++   |  10.0  |  1.98  |
+--------+--------+--------+

In [10]:
result = _

print(result)

+--------+--------+--------+
|  name  | rating | change |
+--------+--------+--------+
| Python | 14.44  |  2.48  |
|   C    | 13.13  |  1.5   |
|  Java  | 11.59  |  0.4   |
|  C++   |  10.0  |  1.98  |
+--------+--------+--------+

In [11]:
result.keys

RMKeyView(['name', 'rating', 'change'])

In [12]:
result[0][0]

'Python'

In [13]:
result[0].rating

14.44

In [16]:
lang = %sql SELECT * FROM languages

Running query in 'sqlite://'

In [17]:
%%sql lang << SELECT *
FROM languages

Running query in 'sqlite://'

In [14]:
%%sql sqlite://
CREATE TABLE writer (first_name, last_name, year_of_death);
INSERT INTO writer VALUES ('William', 'Shakespeare', 1616);
INSERT INTO writer VALUES ('Bertold', 'Brecht', 1956);

1 rows affected.

1 rows affected.

++
||
++
++